<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="TransportSecurity">
              <security mode="TransportCredentialOnly">
                <transport clientCredentialType="Ntlm" />
              </security>
            </binding>
          </basicHttpBinding>
          <wsHttpBinding>
            <binding name="TransportSecurity">
              <security mode="Transport">
                <transport clientCredentialType="None" />
              </security>
            </binding>
          </wsHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost/ServiceTemplate/Service1.svc"
              binding="basicHttpBinding" bindingConfiguration="TransportSecurity"
              contract="ServiceRef.IService1" name="ServiceTemplate">
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>